	body {
	margin: 0px;
	padding: 0px;
	background-color: aquamarine;
}
#headerArea{
	display: flex;
	align-items: center;
	height: 61px;
	width: 100%;
	background-color:white;
	text-align:center
	}
#lightArea{
	display: flex;
	align-items: center;

	width: 18%;
	justify-content: center;
}
	.searchBox {
		width: 600px;
		margin:  0 auto;            /* 中央寄せ */
	}
	img.seachimge{
		display: none;
		width: 50px;
		height: 50px;
		padding-right: 20px;
	}
	@media (max-width: 767px) {
		.searchBox {
			display: none;
		}
		img.seachimge{
			display: inline;
		}
		#lightArea{
			margin-left: auto; /* 右端に寄せる */
			width: 40%;
			justify-content: center;
		}
		.drawer_open {
			margin: 0 0 0 ;
			display: flex;
			padding: 10px;
			height: 40px;
			width: 5%;
			right: 100px;
			justify-content: center;
			align-items: center;
			z-index: 100;/* 重なり順を一番上にする */
			cursor: pointer;
			margin-right: 30px;
		}
		#drawer_input:checked ~ .nav_content {
			left: 50%;
		}
		
	}
	
	.item{
		margin: 10px;
		padding: 10px;
	}
	img.images1{
			width: 50px;
			height: 50px;
			margin-left: 20px;
			margin-right: 20px;
	}
	img.images2{
		width: 50px;
		height: 50px;
}

	/*ハンバーガーアイコンに関するデータ*/
.drawer_hidden {
  display: none;	/* チェックボックスを非表示にする */
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
	margin: 0 0 0 ;
  display: flex;
	padding: 10px;
  height: 40px;
  width: 5%;
	right: 100px;
  justify-content: center;
  align-items: center;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
	margin-left: 20px;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 4px;
  width: 27px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}
  
/* メニューのデザイン*/
.nav_content {
  width: 50%;
  height: 79.5%;
  position: fixed;
	top: 8.5%;
	left: 100%;
  z-index: 99;
  background: #fefefe;
  transition: .5s;
	padding-top: 20px;
	margin-bottom: 64px;
	margin-top: 0px;
}

.nav_item{
	margin: 10px;
	padding: 10px;
}
/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
	left: 90%;
}

	/*スマホver検索バーに関するデータ*/

	.seach_hidden {
		display: none;	/* チェックボックスを非表示にする */
	}
	/*スマホ検索バーのdiv*/
	.smartphone_seach{
	width: 100%;
  position: fixed;
	top: -60%;
  z-index: 99;
  transition: top.5s;
	left: 0px;
}
.searchBox_sm{
	width: 500px;
	margin:  0 auto;   
}
/*検索アイコンを押したら検索バーが降りてくる*/
#seach_input:checked ~ .smartphone_seach {
	top: 9%;
}

canvas {
	display: block;
}

#mapArea {
	position: relative;
	z-index: 0;
	overflow: hidden;
	user-select: none;
}

#mapArea>div {
	position: absolute;
}

.mapInfo {
	white-space: nowrap;
}

#mapRotationBtn {
	position: absolute;
	z-index: 1;
	bottom: 0px;
	left: 0px;
}

#mapName {
	top: 60px;
	left: 0px;
}
.listimages{
	width: 20px;
	height: 20px;
	padding-right: 3px;
}
